{% extends 'seller/main.html' %}
{% load static %}
{% block content %}



<div class="store-container">
    <div class="row mx-2">
    
    <div class="col-lg-3">
        {% include 'store/category_component.html' %}
    </div>


    {% for product in products %}
    <div class="col col-lg-3 " >
        <img class="thumbnail" src="{{ product.image_url }}" alt="placeholder">
        {{ product.category }}
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <button  class="btn btn-outline-warning btn-sm"> Add to cart</button>
            <!-- <a href="{% url 'product-detail' product.id %}"><button class="btn btn-outline-success btn-sm">view</button></a>             -->
            <h4 style="display: inline; float: right;">Rs. {{ product.price}}</h4>
        </div>

    </div>
    {% endfor %}


</div>
</div>

{% endblock content %}